<launch>
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tb3_td)/rviz/turtlebot3_gazebo_config_base.rviz"/>
 

  </launch>